#other bots
MyBotCV*.py

#binaries/scripts for local use
halite
*.sh
*.bat

#submissions and other archives
*.zip

#temporary schitt
tmp/*
*.tmp
hlt/__pycache__*

#examples
*example*

#logs
*.log

#replays
*.hlt

#swap files from vim
*.sw?

